@model Event
@{
    string[] subHeader = { $"{Model.WeddingName()}'s Wedding" };
}

<div class="container">

    @* <div class="d-flex justify-content-between mt-4 mb-4">
        <h2>@Model.WeddingName()}'s Wedding</h2> 
        <div>
            <a asp-controller="Events" asp-action="Dashboard" class="pr-3" >Dashboard</a>
            <a asp-controller="Home" asp-action="Logout">Logout</a>
        </div>
    </div> *@
    <partial name="_nav" model="@subHeader"></partial>

    <h4 class="p-3">Date: @Model.Date.ToString("D") </h4>
    <h4 class="p-3">Planner: @Model.Planner.FullName()</h4>

    @if(Model.EventRSVPs.Any(r=>r.IsAttending==true))
    {
        <h4 class="p-3">Guests: </h4>  @*@Model.EventRSVPs*@
        <ul>
            @foreach(RSVP rsvp in Model.EventRSVPs.Where(r=>r.IsAttending==true))
            {
                <h5>@rsvp.Attendee.FullName()</h5>
            }
        </ul>
    }

    <a asp-controller="Events" asp-action="Edit" asp-route-eventId="@Model.EventId" class="btn btn-outline-dark ml-3 mt-5">Edit</a>
    <a asp-controller="Events" asp-action="Dashboard" class="mt-5 btn btn-outline-dark" >Back</a>


</div>